:root{
	--mainViewHeight: 85vh;
	--headerViewHeight: 5vh;
	--customerViewHeight: 10vh;

	--itemButtonSize: 10vw;

	--fontSizeButton: 3vw;
}

.page {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: var(--headerViewHeight) var(--mainViewHeight) var(--customerViewHeight);
}
.header {
	display: flex;
	padding: 4px 24px;
	font-size: 1.5rem;
    align-items: center;
	flex-direction: row;
	justify-content: center;
	background-color: darkgray;
}
.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.subCategoryContainer {
	display: flex;
	flex-direction: row;
	color: black;
	background-color: lightgrey;
	height: auto;
	width: 100%;
	overflow-x: auto;
}
.itemListContainer {
	display: flex;
	color: black;
	height: auto;
	overflow-y: auto;
	background-color: white;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.itemsContainer{
	display: grid;
	grid-template-rows: auto auto 1fr;
	height: var(--mainViewHeight);
}
.cartContainer {
	display: grid;
	height: var(--mainViewHeight);
	grid-template-rows: auto 1fr auto auto;
	color: white;
	background-color: black;
}
.cartTitle {
	color: white;
	display: flex;
	justify-content: space-evenly;
	background-color: lightgray;
	font-size: 24px;
	padding: 4px 8px;
}

.cartList {
	overflow-y: scroll;
	overflow-x: wrap;
	scroll-behavior: smooth;
	background-color: gray;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.cartList::-webkit-scrollbar {
	display: none;
}

.cartQuantity {
	background-color: lightgray;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.customer {
	background-color: darkgray;
}

.orderItemTemplate{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1%;	
	font-size: var(--fontSizeButton);
	width: var(--itemButtonSize);
	height: var(--itemButtonSize);
}